<div class="multiplerows">
    <div class="elements">
        <div class="form-group">
            <div class="row col-sm-11">
                <input type="text" name="<?= $fieldName ?>[]" class="form-control" maxlength="255" />
            </div>
            <div class="col-sm-1">
                <a class="remove" href="#">
                    <i class="icon-trash"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="form-group">
            <div class="row col-sm-12">
                <button type="button" class="btn btn-default">Add row</button>
            </div>
        </div>
    </div>
</div>
