<div
        class="layout-absolute"
        data-control="languages-selector"
>
    <select id="wg-original-language-selector" name="original_language" class="languages">
        <?php if($selector !== '') { ?>
            <option value="<?= $selector ?>" selected></option>
        <?php } ?>
    </select>
</div>

<br /><br /><br />
<script>
    $('#wg-original-language-selector').selectize({
        delimiter: '|',
        persist: false,
        maxItems: null,
        maxItems: 1,
        valueField: 'code',
        labelField: 'local',
        searchField: ['code', 'english', 'local'],
        sortField: [
            {field: 'code', direction: 'asc'},
            {field: 'english', direction: 'asc'}
        ],
        options: <?= $languages ?>,
        render: {
            option: function(item, escape) {
                return '<div>' +
                         '<span class="local">' + escape(item.local) + '</span>' +
                         '<span class="english">' + escape(item.english) + ' [' + escape(item.code) + ']</span>' +
                       '</div>';
            }
        }
    });
</script>